.portfolio{
    margin: 2em;

    &-projects{
        display: flex;
        flex-flow: wrap;
        justify-content: center;

        a{ margin: .5em; }

        &-project{
            width: 9em;
            height: 9em;
            // margin: .6em;
            display: flex;
            place-items: center;
            text-align: center;


            background-position: center;
            background-size: contain;

            &_title{
            }
        }
    }
}

.project{
    display:grid;
    grid-row-gap: 1em;
    margin: 2em;

    background-color: #fff;
    box-shadow: 0em 0.2em 0.4em 0em #00000033;
    border-radius: 0 0 .5em .5em;

    &_header{
        display:grid;
        grid-row-gap: 1em;

        &-hero{
            height: 150px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            display: flex;
            place-items: center;
            place-content: center;

            &_title{
                text-align: center;
            }
        }
        &-meta{
            padding:0 1em;
        }
    }
    &_body{
       padding:0 1em;

    }
    &_footer{

    }
}
@media @desktop{
    .portfolio{
        margin: 2em auto;
        width: 75%;

        &-projects{
            display: flex;
            flex-flow: wrap;
            justify-content: center;

            a{ margin: 1em; }

            &-project{
                width: 200px;
                height: 200px;

                display: flex;
                place-items: center;
                text-align: center;


                background-position: center;
                background-size: contain;

                &_title{
                    display: flex;
                    align-items: center;
                    margin: 0 .5em;
                    padding: 1em;
                    background-color: fade(#000, 50%);
                    border-radius: .5em;
                    color:#fff;
                    

                    &:hover{
                        width: 100%;
                        height: 100%;
                        margin: 0;
                    }
                }
            }
        }
    }

    .project{
        display:grid;
        grid-row-gap: 1em;
        margin: 2em 4em;
        max-width: 50%;

        background-color: #fff;
        box-shadow: 0em 0.2em 0.4em 0em #00000033;
        border-radius: 0 0 .5em .5em;

        &_header{
            display:grid;
            grid-row-gap: 1em;

            &-hero{
                height: 150px;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                display: flex;
                place-items: center;
                place-content: center;

                &_title{
                }
            }
            &-meta{
                padding:0 1em;
            }
        }
        &_body{
           padding:0 1em;

        }
        &_footer{

        }
    }
}
