@keyframes modalSlideFromTop {
    0% {
        opacity: 0;
        top: -100%;
    }
    80%{
        opacity: 1;
        top: 30%;
    }
    100%{
        top: 15%;
    }
}
@keyframes modalSlideToTop {
    0% {
        top: 15%
    }
    50%{
        top: 15%;
    }
    80%{
        top:30%;
    }
    100%{
        top: -100%
    }
}
