.panel-primary{
    background-color: @primary ;
    font-family: @panel_font_family;
    color: @fourth;
}
.panel-secondary{
    background-color: @complementary_two;
}
.flex-center-content{
    display: flex;
    justify-content: center;
    align-items: center;
}
.hidden {
    display: none;
}

.proportional-element-size(@size) {
    width: @size;
    height: @size;
}
.element-size(@width, @height) {
    width: @width;
    height: @height;
}
.fixed-widh-height(@width, @height){
    width: @width !important;
    max-width: @width !important;
    height: @height !important;
    max-height: @height !important;
}
.no-margin-padding{
    margin: 0px;
    padding: 0px;
}

.image-setting(@width: 250px, @height: 250px, @fit : cover) {
    width: @width;
    height: @height;
    max-height: 500px;
    object-fit: @fit;
}
