// Font Size Variables
@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@400;600&family=Quicksand:wght@400;600;700&display=swap');

//Barrio Font - Like Scratches
@import url('https://fonts.googleapis.com/css2?family=Barrio&display=swap');

//DockGothic16 - Like Oldschool Computer OR Gameboy
@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');

//Zilla Zilat - Black bg
@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab+Highlight:wght@400;700&display=swap');

//Indie Flower - Like Handwriting
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

@base_font_family: 'Quicksand';
@panel_font_family: 'Prompt';
@note_font_family: 'Indie Flower';

@base_font_size: 15px;
@parent_heading_size : 28px;
@heading_size : 24px;
@sub_heading_size : 18px;
@annotation_size : 15px;
@sub_annotation_size : 12px;
@child_annotation_size : 10px;

// Colors
@primary: #00264D;
@secondary: #13339B;
@tertiary: #007AD6;
@fourth: #74C7FF;
@fifth: #0046A2;
@complementary_one: #1C4F84;
@complementary_two: #192A3B;
@complementary_three: #000324;
@complementary_four: #0b1019;

@warning: #FFCF4B;
@danger: #df4040;
@inactive: #C2C2C2;

@box_button_color: linear-gradient(@tertiary, @fifth);
@box_button_color_hover: linear-gradient(@tertiary, fade(@fifth, 70%));
@box_button_color_active: linear-gradient(@fifth, @tertiary);


// @main_bg_color : radial-gradient(,@fourth, @complementary_one);
// Assets Variables
@home_bg_img : url('../../assets/images/bg-home.png');

@images : "../assets/images";
@icons : "../assets/icons";
@webfonts : "../assets/webfonts";

