// -------- FONTS --------
@base-font-family : 'Kanit';
@WEB_NAV_FONT: 'Orbitron';
@base-font-size: 15px;
@title-font-size: @base-font-size + 10px;
@subtitle-font-size: @base-font-size + 5px;
@paragraph-font-size: @base-font-size + 3px;

// -------- COLORS --------
@WEB_FG_COLOR: #E5F0FC;
@WEB_BG_COLOR: #4273b1;
// @WEB_BG_COLOR: #feffff;
@WEB_NAV_BG_COLOR: #0A1526;
@WEB_NAV_FONT_COLOR: #71E7F5;
// @WEB_NAV_FONT_COLOR: #6CC7FF;
@WEB_SECTION_COLOR: #2BA3FF;
@WEB_BUTTON_COLOR: #0E214D;
@WEB_BUTTON_COLOR_2: #0A1C47;
@WEB_CARD_BG:#e0f2fd;
@WEB_BG_CARD: rgba(10, 28, 71, 0.1);

@second-color: #004564;
@complement-color: #0E1C27;
@warning-prevent-color: #FFCF4B;
@warning-fail-color: #df4040;
@inactive-color: #C2C2C2;

// -------- ASSETS --------
@images : "../assets/images/";
@icons : "../assets/icons/";
@webfonts : "../assets/webfonts/";
