@font-face {
  font-family: 'Kanit';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/kanit/v7/nKKZ-Go6G5tXcoaS.ttf) format('truetype');
}
@font-face {
  font-family: 'Orbitron';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/orbitron/v17/yMJMMIlzdpvBhQQL_SC3X9yhF25-T1nyxSmxpg.ttf) format('truetype');
}
body {
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  min-width: 320px;
  font-size: 15px;
  font-family: 'Quicksand';
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
  margin: 0;
  padding: 0;
}
h1 {
  font-size: 28px;
}
h2 {
  font-size: 24px;
}
h3 {
  font-size: 18px;
}
h4 {
  font-size: 15px;
}
h5 {
  font-size: 12px;
}
h6 {
  font-size: 10px;
}
.user-layout {
  height: inherit;
  overflow: scroll;
}
/* ===== H E A D E R ===== */
.header-container {
  font-family: 'Prompt';
  min-height: 50px;
  min-width: 50px;
  color: #74C7FF;
  background-color: #00264D;
  position: sticky;
  top: 0;
  z-index: 1;
  width: 100%;
  max-height: 75px;
  overflow: hidden;
  transition: max-height 1s ease-in-out 0s;
}
.header-container a {
  color: #74C7FF;
  text-decoration: none;
}
.transparent-header-container {
  display: grid;
  grid-template: auto / 1fr auto;
  padding: 10px;
  overflow: hidden;
}
/* ===== C O N T E N T ===== */
/* ===== A S I D E ===== */
.aside-container {
  padding: 20px;
  text-align: center;
  font-family: 'Prompt';
  min-height: 50px;
  min-width: 50px;
  color: #74C7FF;
  background-color: #00264D;
}
.aside-container a {
  color: #74C7FF;
  text-decoration: none;
}
/* ===== F O O T E R ===== */
.footer-container {
  font-family: 'Prompt';
  min-height: 50px;
  min-width: 50px;
  background-color: #000324;
  color: #74C7FF;
}
.footer-container a {
  color: #74C7FF;
  text-decoration: none;
}
@font-face {
  font-family: 'Prompt';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/prompt/v5/-W__XJnvUD7dzB26Zw.ttf) format('truetype');
}
@font-face {
  font-family: 'Prompt';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/prompt/v5/-W_8XJnvUD7dzB2Cv_44bg.ttf) format('truetype');
}
@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/quicksand/v22/6xK-dSZaM9iE8KbpRA_LJ3z8mH9BOJvgkP8o18E.ttf) format('truetype');
}
@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/quicksand/v22/6xK-dSZaM9iE8KbpRA_LJ3z8mH9BOJvgkCEv18E.ttf) format('truetype');
}
@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/quicksand/v22/6xK-dSZaM9iE8KbpRA_LJ3z8mH9BOJvgkBgv18E.ttf) format('truetype');
}
@font-face {
  font-family: 'Barrio';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/barrio/v7/wEO8EBXBk8hBIDiEdQ.ttf) format('truetype');
}
@font-face {
  font-family: 'DotGothic16';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/dotgothic16/v4/v6-QGYjBJFKgyw5nSoDAGE7L.ttf) format('truetype');
}
@font-face {
  font-family: 'Zilla Slab Highlight';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/zillaslabhighlight/v10/gNMbW2BrTpK8-inLtBJgMMfbm6uNVDvRxhtI.ttf) format('truetype');
}
@font-face {
  font-family: 'Zilla Slab Highlight';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/zillaslabhighlight/v10/gNMUW2BrTpK8-inLtBJgMMfbm6uNVDvRxiP0TET4.ttf) format('truetype');
}
@font-face {
  font-family: 'Indie Flower';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/indieflower/v12/m8JVjfNVeKWVnh3QMuKkFcZlbg.ttf) format('truetype');
}
.panel-primary {
  font-family: 'Prompt';
  min-height: 50px;
  min-width: 50px;
  background-color: #00264D;
  color: #74C7FF;
}
.panel-primary a {
  color: #74C7FF;
  text-decoration: none;
}
.panel-secondary {
  font-family: 'Prompt';
  min-height: 50px;
  min-width: 50px;
  background-color: #192A3B;
  color: #74C7FF;
}
.panel-secondary a {
  color: #74C7FF;
  text-decoration: none;
}
.panel-tertiary {
  font-family: 'Prompt';
  min-height: 50px;
  min-width: 50px;
  background-color: #000324;
  color: #74C7FF;
}
.panel-tertiary a {
  color: #74C7FF;
  text-decoration: none;
}
.no-margin-padding {
  margin: 0px;
  padding: 0px;
}
.flex-center-content {
  display: flex;
  justify-content: center;
  align-items: center;
}
.remove-decoration {
  text-decoration: none;
  color: inherit;
}
.reset-input {
  display: block;
  border: 0;
  padding: 0;
  margin: 0;
}
@-webkit-keyframes modalSlideFromTop {
  0% {
    opacity: 0;
    top: -100%;
  }
  80% {
    opacity: 1;
    top: 30%;
  }
  100% {
    top: 20%;
  }
}
@keyframes modalSlideFromTop {
  0% {
    opacity: 0;
    top: -100%;
  }
  80% {
    opacity: 1;
    top: 30%;
  }
  100% {
    top: 20%;
  }
}
/* ===== L O G O ===== */
.logotype-container {
  display: grid;
  grid-template: auto / auto 1fr;
  grid-column-gap: 10px;
  align-items: center;
}
/* ===== N A V I G A T I O N ===== */
.mobile-nav-button {
  width: 40px !important;
  max-width: 40px !important;
  height: 40px !important;
  max-height: 40px !important;
  margin: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid;
  min-height: 20px;
  padding: 0px;
  background: rgba(0, 38, 77, 0.1);
  border: 1px solid #ffffff40;
  border-radius: 10px;
  box-shadow: 0px 3px 2px 0px #0000004d;
  transform: rotateZ(90deg);
  font-weight: bold;
  transition: all 0.5s ease-out 0s;
}
.mobile-nav-button:hover {
  background-color: rgba(116, 199, 255, 0.2);
}
.mobile-nav-button:active {
  width: 45px !important;
  max-width: 45px !important;
  height: 45px !important;
  max-height: 45px !important;
  background-color: rgba(116, 199, 255, 0.4);
}
.header-navigation-container {
  padding: 20px;
}
.header-navigation-container > ul {
  list-style: none;
  text-align: center;
  display: grid;
  grid-template: auto / 1fr;
  grid-row-gap: 5px;
}
.header-navigation-container > ul > a {
  padding: 10px;
}
.header-navigation-container > ul > a:hover {
  background-color: rgba(116, 199, 255, 0.2);
  border-radius: 2px;
}
.header-navigation-container > ul > a:active {
  background-color: rgba(116, 199, 255, 0.4);
}
/* ===== H O M E ===== */
.home-container {
  height: 70vh;
  display: flex;
  align-items: center;
  background: url('../assets/images/bg-home.png') no-repeat center 50%;
  padding: 10%;
}
/* ===== M A I N ===== */
.main-container {
  /* Wraps everything in the content section */
  background: linear-gradient(#74C7FF 20%, #13339B);
  padding: 20px;
}
.index-container {
  /* Wraps the each sub-content section */
  position: relative;
  padding: 0 !important;
}
.sub-content-container {
  /* Wraps the articles, posts, lists, projects, etc.*/
  padding: 5%;
}
.section-title {
  padding: 10px 0;
}
/* ===== B R E A D C R U M B S ===== */
.breadcrumbs-container {
  font-family: 'Prompt';
  min-height: 50px;
  min-width: 50px;
  color: #74C7FF;
  background-color: #192A3B;
  width: 100%;
  position: sticky;
  z-index: 2;
  top: 75px;
  align-items: center;
  font-weight: bold;
}
.breadcrumbs-container a {
  color: #74C7FF;
  text-decoration: none;
}
.breadcrumbs-container div {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: initial;
}
.breadcrumbs-container div .breadcrumbs-arrow {
  width: 25px !important;
  max-width: 25px !important;
  height: 25px !important;
  max-height: 25px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid;
  min-height: 20px;
  padding: 0px;
  background: rgba(25, 42, 59, 0.1);
  border: 1px solid #ffffff40;
  border-radius: 10px;
  box-shadow: 0px 3px 2px 0px #0000004d;
  padding: 0 5px;
  font-size: 20px;
  margin: 10px;
}
.breadcrumbs-container div .breadcrumbs-arrow:hover {
  background-color: rgba(116, 199, 255, 0.2);
}
.breadcrumbs-container div .breadcrumbs-arrow:active {
  background-color: rgba(116, 199, 255, 0.4);
}
.post-list-container {
  border: 5px solid rgba(194, 194, 194, 0.2) !important;
  background: radial-gradient(ellipse at center, rgba(50, 130, 183, 0.45) 50%, #00000029 100%) !important;
  padding: 0 !important;
}
/* ===== P O S T ===== */
.post-title {
  font-weight: bold;
}
.post-meta {
  display: grid;
  grid-template: 'author a a a a rate' 'date   a a a a tags';
  margin: 10px 0;
}
.post-author {
  grid-area: author;
}
.post-date {
  grid-area: date;
}
.post-rate {
  grid-area: rate;
}
.post-tags-container {
  grid-area: tags;
}
.socialmedia-container {
  padding: 20px;
  text-align: center;
}
.socialmedia-container > div {
  padding: 10px;
  border-bottom: 1px solid;
}
.socialmedia-container > .socialmedia-links-container {
  padding: 10px;
  display: grid;
  grid-template: repeat(2, 1fr) / repeat(4, 1fr);
}
.socialmedia-container > .socialmedia-links-container > a {
  color: #007AD6;
  padding: 10px;
}
.socialmedia-container > .socialmedia-links-container > a:hover {
  background-color: rgba(116, 199, 255, 0.2);
}
.socialmedia-container > .socialmedia-links-container > a:active {
  background-color: rgba(116, 199, 255, 0.4);
}
.copyrights {
  font-size: 10px;
  color: #C2C2C2;
  background-color: #0b1019;
  padding: 10px;
}
/* ===== P O R T F O L I O ===== */
.project-list-container {
  max-height: 20em;
}
.project-list-container ul {
  display: block !important;
  overflow-x: hidden !important;
  max-height: inherit;
}
.project-list-container ul li {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 15px 0 !important;
  padding: 0;
}
.project-list-container ul li a {
  text-decoration: none;
  color: inherit;
}
.project-title-container {
  padding: 20px;
  margin: 30px;
  border: 1px solid;
  border-radius: 5px;
  text-align: center;
  justify-content: center;
  font-family: 'Zilla Slab Highlight', sans-serif;
}
/* ===== P R O J E C T ===== */
.portfolio-meta {
  margin: 10px;
  padding: 10px ;
  border-bottom: 1px solid;
}
/* ===== F O R M ===== */
.form-container form {
  padding: 5px;
  border-radius: 5px;
  background-color: rgba(116, 199, 255, 0.5);
  box-sizing: border-box;
}
.form-container .form-group {
  margin: 10px 0;
}
.form-container .form-group label {
  display: block;
  width: 100%;
  margin-bottom: 5px;
}
.form-container .form-group input,
.form-container .form-group select,
.form-container .form-group textarea {
  display: block;
  border: 0;
  padding: 0;
  margin: 0;
  padding: 3px 0;
  padding-left: 5px !important;
  font-family: inherit !important;
  border-radius: 5px;
}
.form-container .form-group input {
  width: 98%;
}
.form-container .form-group select {
  width: 100%;
}
.form-container .form-group textarea {
  width: 98%;
}
.form-container .form-group .g-recaptcha {
  transform: scale(0.77);
  -webkit-transform: scale(0.8);
  transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
}
/* ===== M O D A L ===== */
.contact-modal {
  background: linear-gradient(#007AD6, rgba(19, 51, 155, 0.9)) !important;
  color: #000324;
  position: absolute;
  top: -100%;
  -webkit-animation: modalSlideFromTop 0.7s ease-in-out 0s forwards;
          animation: modalSlideFromTop 0.7s ease-in-out 0s forwards;
}
.contact-modal .modal-title-container {
  background: rgba(11, 16, 25, 0.8);
  border-radius: 5px;
  font-weight: bold;
  font-family: 'Prompt';
  padding: 10px !important;
  color: #007AD6;
}
.contact-modal .modal-content-container {
  color: #74C7FF;
}
.panel-primary {
  background-color: #00264D;
}
.panel-secondary {
  background-color: #192A3B;
}
.sm-icon {
  width: 25px !important;
  max-width: 25px !important;
  height: 25px !important;
  max-height: 25px !important;
  margin: 0px;
  padding: 0px;
}
.md-icon {
  width: 50px !important;
  max-width: 50px !important;
  height: 50px !important;
  max-height: 50px !important;
  margin: 0px;
  padding: 0px;
}
.tag {
  display: inline-block;
  padding: 5px;
  margin: 0 5px;
  border-radius: 10px;
  font-size: 12px;
  text-decoration: none;
}
.rate-container {
  margin: 0;
}
.rate {
  color: #fd4;
}
.show-nav {
  max-height: 100% !important;
}
.modal-container {
  min-height: 20px;
  padding: 10%;
  background: rgba(28, 79, 132, 0.6);
  border: 1px solid #ffffff40;
  border-radius: 10px;
  box-shadow: 0px 3px 2px 0px #0000004d;
}
.modal-container > .modal-title-container {
  text-align: center;
  padding-bottom: 5%;
  border-bottom: 1px solid;
}
.modal-container > .modal-content-container {
  text-align: justify;
  margin-top: 5%;
}
.hidden {
  display: none;
}
.box-container {
  min-height: 20px;
  padding: 5%;
  background: rgba(0, 38, 77, 0.3);
  border: 1px solid #ffffff40;
  border-radius: 10px;
  box-shadow: 0px 3px 2px 0px #0000004d;
  overflow: hidden;
  position: relative;
}
.box-container div > img,
.box-container img {
  max-width: 100%;
  min-width: 100%;
  min-height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.box-button {
  min-height: 20px;
  padding: 10px;
  background: #0046a2;
  border: none none none;
  border-radius: 10px;
  box-shadow: 0px 3px 2px 0px #0000004d;
  background: linear-gradient(#007AD6, #0046A2);
  text-align: center !important;
}
.box-button:hover {
  background: linear-gradient(#007AD6, rgba(0, 70, 162, 0.7));
}
.box-button:active {
  background: linear-gradient(#0046A2, #007AD6);
}
.box-button a {
  text-decoration: none;
  color: inherit;
  color: #74C7FF;
  font-weight: bold;
}
.box-button a:hover {
  text-decoration: none;
  color: inherit;
}
.box-item {
  display: grid;
  grid-template: auto / 1fr;
  grid-row-gap: 15px;
}
.box-item-title-container {
  padding-bottom: 5px;
  border-bottom: 1px solid;
}
.box-item-img-container {
  border: 5px solid #dddddd;
  border-radius: 5px;
}
.box-item-img-container img {
  width: 100%;
  height: 100%;
  max-height: 500px;
  -o-object-fit: cover;
     object-fit: cover;
}
.box-item-meta-container {
  display: inherit;
  grid-template: auto / 1fr;
  grid-row-gap: 5px;
  border-radius: 5px;
  min-height: 20px;
  padding: 10px;
  background: rgba(194, 194, 194, 0.2);
  border: none none none;
  border-radius: 10px;
  box-shadow: 0px 3px 2px 0px #0000004d;
  box-shadow: none;
}
.box-item-content-container {
  text-align: justify;
}
.box-list-container {
  overflow: hidden;
  min-height: 20px;
  padding: 10px;
  background: rgba(194, 194, 194, 0.2);
  border: none none none;
  border-radius: 10px;
  box-shadow: 0px 3px 2px 0px #0000004d;
}
.box-list-container ul {
  display: flex;
  overflow: scroll;
  list-style: none;
}
.box-list-container ul li {
  margin: 10px;
  min-width: 60%;
}
.text-container {
  text-align: justify;
  padding: 10px 0;
}

