@import './normalize.css';
@import './admin.css';
@import url('https://fonts.googleapis.com/css2?family=Pragati+Narrow:wght@400;700&display=swap');

/* <!-- --# # # # # # # # # # # # # # # # # # # # # # # # # # # # # #-- -->

<!-- =================== G E N E R A L   B O D Y   R U L E S =================== --> */
.hidden{
  display: none;
}
html, body{
  font-family: 'Pragati', 'Helvetica', sans-serif;
  height: 100%;
  min-width: 320px;
  background-color: #E5F0FC;
}
/* <!-- --# # # # # # # # # # # # # # # # # # # # # # # # # # # # # #-- -->

<!-- =================== L A N D S C A P E  =================== --> */
.overlay{
  position: fixed;
  background-color: rgba(14, 28, 39, 0.7);
  width: 100%;
  height: 100%;
}
.landscape-container{
  overflow: hidden;
  width: 100vw;
  height: 100%;
  object-fit: contain;
}
.landscape{
  position: absolute;
  height: 100%;
  object-fit: contain;
}
/* <!-- --# # # # # # # # # # # # # # # # # # # # # # # # # # # # # #-- -->

<!-- =================== S I T E   H E A D E R =================== --> */
#header-container{
  position: sticky;
  top:0;
  min-width: 320px;
  background: linear-gradient(0.2turn,#0E1C27, #0A1C47);
  color: #E5F0FC;
  box-shadow: rgb(0, 0, 0, .5) 0px 1px 5px 2px;
}
#homepage-link{
  text-decoration: none;
  color:inherit;
}
#header-mobile{
  display:flex;
  justify-content: space-between;
  padding: 20px;
}
#logotype-container{
  display: flex;
  align-items: center;
}
#logo-type{
  display: inline;
  margin: 0 0 0 20px;
}
/* <!-- =================== N A V I G A T I O N   M E N U =================== -->  */

#nav-icon{
  width: 40px;
}
#nav-menu{
  height: 90vh;
  flex-direction: column;
  justify-content: space-between;
  background-image: url("../assets/bg_graphics.png");
  background-size: 80%;
}
#nav-menu-mobile{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 90%;
}
#nav-components > ul,
#nav-social > ul {
  padding: 0;
  text-align: center;
}
.nav-component {
  padding: 5px;
  width: 85%;
  border-radius: 0 1em 1em 0;
  background: linear-gradient(.2turn,#004564,#71E7F5);
  margin-bottom: 10px;
}
.nav-component:hover{
  cursor: pointer;
  transform: scaleX(1.1)
}
.nav-component:active{
  transform:scaleX(1.2);
}
#nav-components > ul > a{
  position: static;
  font-weight: bold;
  text-decoration: none;
  color: #FEFEFE
}
.nav-item{
  margin:5px;
}
.nav-item > a {
  text-decoration: none;
  color: inherit;
}
/* <!-- --# # # # # # # # # # # # # # # # # # # # # # # # # # # # # #-- -->

<!-- =================== M A I N   C O N T E N T =================== --> */
#main-container{
  color: #0E1C27;
  background-color: #FEFEFE;
  box-shadow: rgb(0, 0, 0,.5) 0px 0px 30px 1px;
  padding: 15px;
}
#back-button-container{
  display:none
}
/*<!-- =================== M O S T   R E C E N T   S E C T I O N ================== --> */
.sections-container{
  width: 100%;
}
.section-container{
  margin: 25px 0;
}
.section-title{
  margin: 0;
}
.section-separator{
  margin:10px 0;
}
#p_title{
  margin: 0 0 10px 0;
}
#p_author{
  margin: 0;
}
#p_date{
  font-weight: normal;
  margin: 0;
}
#p_rating{
  margin: 10px 0;
}
.rate{
    color: #fd4;
}
.tag > a{
  display: inline-block;
  padding: 5px 10px;
  margin: 0 10px 10px 0;
  border: #0E1C27 solid 1px;
  border-radius: 10px;
  text-decoration: none;
  font-weight: bold;
  color: #0E1C27;
}
.p_img-container{
  overflow: hidden;
  text-align: center;
  margin: 20px 0;
}
.p_img-container > img{
    height: 400px;
    width: 600px;
    object-fit: fill;
}
#p_img{
    height:500px;
    width:800px;
}
#p_description, .p_paragraphs{
  text-align: justify;
  letter-spacing: .2px;
  font-stretch: wider;
}
.p_body{
    text-align:center;
    justify-content: center;
}

.button-container{
  text-align: center;
}
.button {
  display: inline-block;
  border: none;
  color:#0E1C27;
  text-decoration: none;
  background-color: #71E7F5;
  box-shadow: lightgray 0px 5px 5px;
  font-size: 15pt;
  font-weight: bold;
  letter-spacing: 2px;
  padding: 1em;
  width: 80%;
}
.button:hover{
    cursor: pointer;
}

/*<!-- =================== R E L A T E D   S E C T I O N =================== --> */
#related{
  overflow: hidden;
}
.related-list{
  display:flex;
  list-style: none;
  padding: 0;
  overflow-x: auto;
  scroll-snap-type: x mandatory
}
.related-item{
    margin: 20px;
}
.related-item > img{
    width: 250px;
    height: 250px;
    object-fit: contain;
}
.related-title{
  text-align: center;
  margin: 0 0 10px 0;
}

/* <!-- --# # # # # # # # # # # # # # # # # # # # # # # # # # # # # #-- -->
 /*<!-- =================== R A T I N G   A N D   A B O U T   A U T H O R =================== --> */
 .about_post-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.rating-container{
  text-align: center;
}
.star-widget{
  display: flex;
  flex-direction: row-reverse;
  margin: 20px 0;
}
.star-widget > input{
  display:none;
}
.star-widget > label{
  font-size: 30px;
  color: #444;
  transition: all 0.2s ease;
}
.star-widget > input:not(:checked) ~ label:hover,
.star-widget > input:not(:checked) ~ label:hover ~ label {
  color:#fd4;
}
.star-widget > input:checked ~ label {
  color: #fd4;
}
.about_author-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about_author{
  text-align: center ;
}
.author_img-container{
  overflow: hidden;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  margin: 30px 0;
}

/* <!-- --# # # # # # # # # # # # # # # # # # # # # # # # # # # # # #-- -->
/*<!-- =================== F O O T E R =================== --> */
#footer {
  display: block;
  text-align: center;
  padding: 30px;
}
.copyrights{
  display: block;
  font-size: .8em;
  margin: 20px 0 0 0;
}

/* <!-- --# # # # # # # # # # # # # # # # # # # # # # # # # # # # # #-- -->
 /*<!-- =================== C O N T A C T   F O R M =================== --> */
.form-container{
  display: flex;
  justify-content: center;
  margin:0;
  height: 100%;
}
.ll_form{
  width: 100%;
}
.f_lbl{
  display: block;
  font-weight: bold;
  margin: 0 0 5px 0;
}
.f_field{
  display: block;
  width: 100%;
  height: 1.5em;
  margin: 0 0 20px 0;
  padding: 0 0 0 0;
}
.comments{
  resize: none;
  height: 100px;
  width: 100%;
  margin: 10px 0;
}
.f_chk{
  width: 1em;
  height: 1em;
  margin: 10px 0 ;
}
.submit-container{
  display: flex;
  justify-content: center;
  margin: 20px 0;
}
.submit-container > input {
  width: 100%;
}

/* <!-- --# # # # # # # # # # # # # # # # # # # # # # # # # # # # # #-- -->
 /*<!-- =================== M E D I A   Q U E R I E S =================== --> */
@media screen and (min-width:280px){
 #logo-type{
   font-size: 20pt;
  }
}
@media screen and (min-width:500px){
  .sections-container{
    width: 90%;
    height: 100%;
  }
  #main-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.2em;
    padding: 50px;
  }
}
@media screen and (min-width:700px){
  #nav-menu{
    height: 100vh;
  }
  .nav-component{
    font-size: 1.5em;
  }
  .nav-item{
    font-size: 1.1fem ;
  }
  #p_title{
    margin: 30px 0;
  }
  #p_meta{
    display: grid;
    grid-template: "author rating"
                   "date   tags";
  }
  #p_author{
    grid-area: author;
  }
  #p_date{
    grid-area: date;
  }
  #p_rating{
    text-align: end;
    grid-area: rating;
  }
  #p_tags{
    text-align: end;
    grid-area:tags;
  }
  .sections-container{
    width: 80%;
  }
  .about_author-container{
    display: grid;
    grid-template: auto / auto 1fr;
    grid-gap: 50px;
  }
}
@media screen and (min-width:1024px){
  .about_post-container{
    display: grid;
    grid-template: auto / auto auto;
    grid-gap: 80px;
    align-items: flex-start;
  }
  .pc{
    margin: auto;
    width:800px;
    margin-bottom: 30px;
}
  .p_img-container{
    margin:40px 0;
  }
  .ll_form{
    width: 60%;
    font-size: 1.3em;
  }
  #p_description, .p_paragraphs{
    font-size: 1.2em;
}
@media screen and (min-width:1300px){
    .about_author-container{
      display: grid;
      grid-template: auto / auto auto;
      grid-gap: 20px;
      align-items: flex-start;
    }
    .ll_form{
      width: 50%;
    }
}
@media screen and (min-width: 1280px)  {
  body{
    display: grid;
    grid-template: 1fr / 350px repeat(5, 1fr);
    overflow-x: hidden;
  }
  .hidden{
    display: block;
  }
  #logo-type{
    font-size: 2em;
    letter-spacing: 2px;
    margin: 10px
  }
  #nav-icon{
    display: none;
  }
  #header-container{
    grid-column: 1;
    position: sticky;
    left:0;
    overflow: hidden;
    font-size: 1.1em;
  }
  #header-mobile{
    justify-content: center;
  }
  #logotype-container{
    align-items: center;
    flex-direction: column;
  }
  #nav-menu{
    height: 90%;
  }
  #main-container{
    grid-column: 2 / 7;
    overflow-y: scroll;
    margin: 0 0 0 40px;
  }
  #back-button-container{
    display: block;
    width:100%;
    text-align: left;
    position: sticky;
    left:0;
    top:0;
  }
  .sections-container{
    width: 75%;
  }
  .button{
    font-size: 1.2em;
    grid-area:button;
    width: 60%;
  }
  .related-list{
    overflow:initial;
    scroll-snap-type:none;
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media screen and (min-width: 1500px){
  .mr{
    display:grid;
    grid-template: 1fr / 1fr 1fr;
    grid-column-gap: 40px;
  }
}
@media screen and (min-width: 1600px){
  .about_author-container{
    display: grid;
    grid-template: auto / auto 1fr;
    grid-gap: 50px;
  }
}
