@font-face {
  font-family: 'Kanit';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/kanit/v7/nKKZ-Go6G5tXcoaS.ttf) format('truetype');
}
@font-face {
  font-family: 'Orbitron';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/orbitron/v17/yMJMMIlzdpvBhQQL_SC3X9yhF25-T1nyxSmxpg.ttf) format('truetype');
}
body {
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  min-width: 320px;
  font-size: 15px;
  font-family: 'Quicksand';
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
  margin: 0;
  padding: 0;
}
h1 {
  font-size: 28px;
}
h2 {
  font-size: 24px;
}
h3 {
  font-size: 18px;
}
h4 {
  font-size: 15px;
}
h5 {
  font-size: 12px;
}
h6 {
  font-size: 10px;
}
.public-layout {
  height: inherit;
}
/* ===== H E A D E R ===== */
.transparent-header-container {
  display: grid;
  grid-template: auto / 1fr auto;
  padding: 10px;
}
.header-container {
  font-family: 'Prompt';
  color: #74C7FF;
  background-color: #00264D;
}
/* # # # # # # # # # # # # # */
/*          M A I N          */
/* v v v v v v v v v v v v v */
#main-content-container {
  padding: 40px;
  display: grid;
  grid-template: auto auto / auto;
  grid-row-gap: 25px;
  grid-column: 1 / 6;
  overflow-y: scroll;
  scrollbar-track-color: khaki;
}
.section-title {
  padding: 10px 20px;
  font-weight: lighter;
  /* box-shadow: 0px 1px 5px -1px #000a; */
}
/* # # # # # # # # # # # # # */
/*  B R E A D C R U M B S    */
/* v v v v v v v v v v v v v */
#breadcrumbs {
  grid-row: 1 / 2;
  grid-column: 1 / 10;
  background-color: #0E214D;
  height: 50px;
}
#web-back-icon-container {
  display: flex;
}
#web-back-icon-container a {
  display: flex;
  padding: 10px 20px;
  text-decoration: none;
}
#web-back-icon-container div {
  background-size: 30px 30px;
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
}
#web-back-icon-container h2 {
  margin: 0 5px;
  font-size: 15px;
}
/* # # # # # # # # # # # # # */
/*          F O O T E R      */
/* v v v v v v v v v v v v v */
#footer-section-container {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  font-family: 'Prompt';
  color: #74C7FF;
  background-color: #00264D;
}
#social-media-links-container {
  padding: 10px;
}
#social-media-links-container h4 {
  margin: 0 0 10px 0;
  padding: 10px;
  border: 1px solid;
}
#social-media-links {
  display: grid;
  grid-template: auto / auto;
}
.social-media-link {
  text-decoration: none;
  color: inherit !important;
}
.social-media-link:hover {
  text-decoration: underline;
}
.copyrights {
  display: block;
  margin: 10px;
  padding: 10px;
  font-weight: 200;
  border-top: 1px solid;
}
#sidebar-section-container {
  grid-column: 3 / 4;
  grid-row: 1 / 3;
  display: grid;
  grid-template: auto / 1fr;
  position: sticky;
}
#sidebar-ads-section-container {
  display: grid;
  grid-template: 90px 150px 150px / auto;
  grid-row-gap: 10px;
  padding: 20px;
}
#sidebar-ads-section-container div {
  width: 200px;
  height: 150px;
  background: #fff;
}
.panel-primary {
  background-color: #00264D;
  font-family: 'Prompt';
  color: #74C7FF;
}
.panel-secondary {
  background-color: #192A3B;
}
.hidden {
  display: none;
}
.no-margin-padding {
  margin: 0px;
  padding: 0px;
}
@font-face {
  font-family: 'Prompt';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/prompt/v5/-W__XJnvUD7dzB26Zw.ttf) format('truetype');
}
@font-face {
  font-family: 'Prompt';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/prompt/v5/-W_8XJnvUD7dzB2Cv_44bg.ttf) format('truetype');
}
@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/quicksand/v22/6xK-dSZaM9iE8KbpRA_LJ3z8mH9BOJvgkP8o18E.ttf) format('truetype');
}
@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/quicksand/v22/6xK-dSZaM9iE8KbpRA_LJ3z8mH9BOJvgkCEv18E.ttf) format('truetype');
}
@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/quicksand/v22/6xK-dSZaM9iE8KbpRA_LJ3z8mH9BOJvgkBgv18E.ttf) format('truetype');
}
@font-face {
  font-family: 'Barrio';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/barrio/v7/wEO8EBXBk8hBIDiEdQ.ttf) format('truetype');
}
@font-face {
  font-family: 'DotGothic16';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/dotgothic16/v4/v6-QGYjBJFKgyw5nSoDAGE7L.ttf) format('truetype');
}
@font-face {
  font-family: 'Zilla Slab Highlight';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/zillaslabhighlight/v10/gNMbW2BrTpK8-inLtBJgMMfbm6uNVDvRxhtI.ttf) format('truetype');
}
@font-face {
  font-family: 'Zilla Slab Highlight';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/zillaslabhighlight/v10/gNMUW2BrTpK8-inLtBJgMMfbm6uNVDvRxiP0TET4.ttf) format('truetype');
}
@font-face {
  font-family: 'Indie Flower';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/indieflower/v12/m8JVjfNVeKWVnh3QMuKkFcZlbg.ttf) format('truetype');
}
.panel-primary {
  background-color: #00264D;
}
.panel-secondary {
  background-color: #192A3B;
}
.sm-icon {
  width: 25px !important;
  max-width: 25px !important;
  height: 25px !important;
  max-height: 25px !important;
  margin: 0px;
  padding: 0px;
}
.md-icon {
  width: 50px !important;
  max-width: 50px !important;
  height: 50px !important;
  max-height: 50px !important;
  margin: 0px;
  padding: 0px;
}
.tag {
  display: inline-block;
  padding: 5px;
  margin: 0 5px;
  border-radius: 10px;
  font-size: 12px;
  text-decoration: none;
}
.rate-container {
  margin: 0;
}
.rate {
  color: #fd4;
}
/* ===== L O G O ===== */
.logotype-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
/* ===== N A V I G A T I O N ===== */
.mobile-nav-button {
  width: 50px !important;
  max-width: 50px !important;
  height: 50px !important;
  max-height: 50px !important;
  border-radius: 50%;
  border: 2px solid;
  margin: 0px;
  padding: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotateZ(90deg);
  font-weight: bold;
}
#header-navigation-container {
  grid-row: 2 / 7;
  padding: 20px 10px;
  letter-spacing: 2px;
}
#header-navigation-list {
  list-style: none;
  display: grid;
  grid-template: auto / 1fr;
  grid-row-gap: 10px;
  margin: 20px 0;
}
.navigation-item {
  text-decoration: none;
  display: grid;
  color: #74C7FF !important;
}
.navigation-item:hover {
  border-bottom: 1px solid;
}
/* # # # # # # # # # # # # # */
/*   P U B L I C A T I O N   */
/* v v v v v v v v v v v v v */
.publication-container {
  padding: 20px;
}
.publication-img-container {
  overflow: hidden;
}
.publication-img-container img {
  width: 100%;
  height: 500px;
  max-height: 500px;
  -o-object-fit: 'fill';
     object-fit: 'fill';
  margin: 10px auto;
}
.publication-paragraph {
  margin: 10px 0;
  text-align: justify;
}
/* # # # # # # # # # # # # # */
/*   G E N E R I C  C A R D  */
/* v v v v v v v v v v v v v */
.publication-card-container {
  display: grid;
  grid-template: 1fr auto / auto 1fr;
  padding: 10px;
}
.latest-publication-card-img-container {
  grid-row: 1 / 2;
  grid-column: 1 / 2;
}
.latest-publication-card-img-container img {
  width: 250px;
  height: 250px;
  max-height: 500px;
  -o-object-fit: cover;
     object-fit: cover;
}
.publication-card-description-container {
  grid-row: 1 / 2;
  grid-column: 2 / 3;
  padding: 0 0 0 15px;
  display: grid;
  grid-template: 'title title title' 'prev prev prev' 'author rate rate' 'date tags tags';
}
.publication-card-title {
  grid-area: title;
}
.publication-card-preview {
  grid-area: prev;
}
.publication-card-author {
  grid-area: author;
}
.publication-card-date {
  grid-area: date;
}
.publicaction-card-rating-container {
  grid-area: rate;
}
.publication-card-tags-container {
  grid-area: tags;
}
.publication-card-button-container {
  grid-row: 2 / 3;
  grid-column: 1 / 3;
  padding: 10px;
  margin: 10px 0 0 0;
  text-align: center;
}
.publication-card-button-container a {
  text-decoration: none;
}
.publication-card-button-container a:hover {
  text-decoration: underline;
}
/* # # # # # # # # # # # # # */
/*    C A R D   L I S T      */
/* v v v v v v v v v v v v v */
.publication-card-list {
  display: grid;
  list-style: none;
  grid-template: auto / 1fr 1fr;
  grid-row-gap: 20px;
  grid-column-gap: 20px;
}
.related-publication-card-img-container img {
  width: 150px;
  height: 150px;
  max-height: 500px;
  -o-object-fit: cover;
     object-fit: cover;
}

