
/*
--secondary_middle_button: #004564;
--inactive_star: #C2C2C2;
--active_star: #FFCF4B;
--web_body: #FEFEFE;
--web_background: #E5F0FC;
--primary_light_button: #71E7F5;
--third_dark_nav: #0E1C27;
--secundary_ligh_nav: #0A1C47;

/* Font/text values *//*
--unnamed-font-family-pragati: Pragati;
--unnamed-font-style-normal: normal;
--unnamed-font-weight-normal: normal;
--unnamed-font-weight-bold: bold;
--unnamed-font-size-12: 12px;
--unnamed-font-size-15: 15px;
--unnamed-font-size-20: 20px;
--unnamed-font-size-25: 25px;
--unnamed-font-size-30: 30px;
--unnamed-font-size-40: 40px;

*/