.panel-primary{
    background-color: @primary ;
}
.panel-secondary{
    background-color: @complementary_two;
}
.sm-icon{
    .fixed-widh-height(25px, 25px);
    .no-margin-padding;
}
.md-icon{
    .fixed-widh-height(50px, 50px);
    .no-margin-padding;
}
.circle-border(@thick, @type){
    border-radius: 50%;
    border: @thick @type;
}
.tag {
    display: inline-block;
    padding: 5px;
    margin: 0 5px;
    border-radius: 10px;
    font-size: 12px;
    text-decoration: none;
}
.rate-container {
    margin: 0;
}
.rate {
    color: #fd4;
}
.show-nav{
    max-height: 100%;
}
.modal-container{
    .box-container-mixin(60%);

    & > .modal-title-container{
        text-align: center;
        padding-bottom: 5%;
        border-bottom: 1px solid;
    }
    & > .modal-content-container{
        text-align: justify;
        margin-top: 5%;
    }
}

.hidden {
    display: none;
}
