.panel-primary{
    background-color: @primary ;
}

.panel-secondary{
    background-color: @complementary_two;
}

.sm-icon{
    .fixed-widh-height(25px, 25px);
    .no-margin-padding;
}

.md-icon{
    .fixed-widh-height(50px, 50px);
    .no-margin-padding;
}

.tag {
    display: inline-block;
    padding: 5px;
    margin: 0 1px;
    border-radius: 3px;
    text-decoration: none;
}


.show-nav{
    max-height: 100% !important;
}

.modal-container{
    .box-container-mixin(60%);

    & > .modal-title-container{
        text-align: center;
        padding-bottom: 5%;
        border-bottom: 1px solid;
    }
    & > .modal-content-container{
        text-align: justify;
        margin-top: 5%;
    }
}

.box-container{
    .box-container-mixin(30%, 5%,@primary);
    overflow:hidden;
    position: relative;

    div > img, img{
        max-width: 100%;
        min-width: 100%;
        min-height: 100%;
        object-fit: contain;
    }
}
.box-button-container{

    .box-button{
        display: block;
        color: @fourth;
        background: @dark_box_button_color;
        .box-container-mixin(100%, 10px, @fifth, none, none, none);
        .remove-decoration;
        .button-setup;

        &:hover{
            background: @dark_box_button_color_hover;
        }

        &:active{
            background:  @dark_box_button_color_active;
            transform: scaleY(.95);
        }
        &:visited{
            color: @fourth !important;
            text-decoration: dashed !important;
        }
    }
}

.box-item{
    display: grid;
    grid-template: auto / 1fr;
    grid-row-gap: 15px;

    &-title-container{
        padding-bottom: 5px;
        border-bottom: 1px solid;
    }

    &-img-container{
        border: 5px solid rgb(221, 221, 221);
        border-radius: 5px;

        img {
            .image-size(100%, 100%);
        }
    }

    &-meta-container{
        display: inherit;
        grid-template: auto / 1fr;
        grid-row-gap: 5px;
        border-radius: 5px;
        .box-container-mixin(20%, 10px, @mid_neutral, none, none, none);
        box-shadow: none;
    }

    &-content-container{
        text-align: justify;
    }
}

.box-list-container{
    overflow: hidden;
    .box-container-mixin(20%, 10px, @mid_neutral, none, none, none);

    ul{
        display: flex;
        overflow: scroll;
        list-style: none;

        li {
            margin: 10px;
            min-width: 60%;
        }
    }
}

.text-container{
    text-align: justify;
    padding: 10px 0;
}
