/* # # # # # # # # # # # # # */
/* M E D I A   Q U E R I E S */
/* v v v v v v v v v v v v v */
@media screen and (min-width:280px) and (max-width:720px){
    // body{
    //     min-width: 360px;
    //     display: grid;
    //     grid-template:  'header' 'main' 'side' 'footer';
    // }
    #home-welcome-image {
        #home-welcome-card{
            width: 90%;
        }
        h2{
            font-size: 25px;
        }
        p{
            font-size: 20px;;
        }
    }
/* # # # # # # # */
/*  H E A D E R  */
/* v v v v v v v */
    #header-section-container{
        grid-area: header;
        padding: 10px;
        position: static;
        grid-template: auto / auto;
    }
    #header-logotype-container a {
       display: flex;
       align-items: center;
       max-width: 80%;
       img {
           margin: 0 20px;
       }
    }
    #logotype{
        grid-area: logo;
        margin: 0;
    }
    #title{
        grid-area: title;
        margin: 0;

    }
    #mobile-nav-icon-container{
        display: initial;
        position: absolute;
        top: 0;
        right: 0;
        // background:  @WEB_NAV_BG_COLOR;
        padding: 20px;
        border-radius: 50%;
        img{
            .image-setting(30px, 30px, fill);
        }
    }
/* # # # # # # # */
/*   M A I N     */
/* v v v v v v v */
    #main-section-container{
        grid-area: main;
        overflow: initial;
        display: flex;
        flex-direction: column;
    }
    #main-content-container {
        padding: 5%;
    }
/* # # # # # # # *//* # # # # # # # */
/* P U B L I C A *//*  L A T E S T  */
/* v v v v v v v *//* v v v v v v v */
    .publication-card-container
    {
        display: flex;
        flex-direction: column;
        img {
            .image-setting(100%)
        }
    }
    .latest-publication-card-container
    {
        img{
            .image-setting(100%)
        }
    }
    .publication-card-description-container{
        display:flex;
        flex-direction: column;
        justify-content: space-evenly;
        padding: 0;
    }
/* # # # # # # # */
/* R E L A T E D */
/* v v v v v v v */
    #publication-card-list-container{
       overflow-x:scroll ;
    }
    .related-publication-card-container
    {
        img{
            .image-setting(100%, 250px)
        }
    }
    .publication-card-list{
        display: flex;
    }
    .publication-card-list-item{
        min-width: 250px;
    }
/* # # # # # # # */
/*   S I D E     */
/* v v v v v v v */
    #sidebar-section-container{
        grid-area: side;
        display: flex;
        width: 100%;
        text-align: center;
    }
    #sidebar-ads-section-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        div{
            width: 300px
        }
    }
/* # # # # # # # */
/*  F O O T E R  */
/* v v v v v v v */
    #footer-section-container{
       grid-area: footer;
       background-color: #171717;
    }
    #social-media-links-container{
        grid-column: 5 / 9;

    }
    #social-media-links{
        grid-template: 1fr /  repeat(2, auto);
        text-align: center;
    }
    .copyrights{
        display: flex;
        flex-direction: column;
        justify-content: end;
        grid-row: 1 / 2;
        grid-column: 1 / 4;
    }
/* # # # # # # # */
/*   F O R M     */
/* v v v v v v v */
    .form-container {
        width: 100%;
    }
}
@media screen and (min-width:720px) and (max-width:1100px){
    #home-welcome-image {
        grid-column: 2 / 4;
        grid-row: 1 / 3;
    }
    #header-navigation-container{
        display: initial;
    }
    #main-section-container{
        grid-column: 2 / 4;
    }
    .project-list{
        min-width: 450px
    }
    #sidebar-section-container{
        grid-row: 2 / 3;
        grid-column: 1/2;

    }
    #sidebar-ads-section-container{
        display: flex;
        flex-direction: column;
        div{
            width: 100%;
        }
    }
    #footer-section-container{
        grid-row: 3 / 4;
        grid-column: 1/4;
    }
    #social-media-links-container{
        div{
            text-align: center;
        }
    }
    #social-media-links{
        display: flex;
        justify-content: space-evenly;
    }
}
@media screen and (min-width:1110px) and (max-width: 3000px){
    #header-navigation-container{
        display: initial ;
    }
    #home-welcome-image {
        grid-column: 2 / 3;
        grid-row: 1 / 3;
    }
}
