
// -------- FONTS --------
@base-font-family : 'Pragati';
@base-font-size: 15px;

// -------- COLORS --------
@fg-color:#FEFEFE;
@bg-color:#E5F0FC;
@prime-color:#71E7F5;
@second-color: #004564;
@third-color: #0A1C47;
@complement-color: #0E1C27;
@warning-prevent-color: #FFCF4B;
@warning-fail-color: #df4040;
@inactive-color: #C2C2C2;

// -------- ASSETS --------
@images : "../assets/images/";
@icons : "../assets/icons/";
@webfonts : "../assets/webfonts/";


// -------- MIXINS --------
.init(){
    html, body {
        font-family: @base-font-family;
        font-size: @base-font-size;
        min-width: 320px;
        height: 100%;
        background-color: @bg-color;

    }
    a {
        text-decoration: none;
        color: @fg-color;
    }
    .hidden{
        display: none;
    }
    .button {
        font-size: 1.2em;
        grid-area: button;
        width: 60%;
    }
}
.box-shadow(){
    box-shadow: fade(@complement-color, 50%) 0px 1px 5px 2px;
}
.icon-size(@size:40px){
    width: @size;
    height:@size;
}
.rounded-corners(@size:50px){
  border-radius: 0 @size @size 0;
}
.web-font-size(@size){
    font-size: @base-font-size + @size;
}


