
// -------- FONTS --------

@font : 'Pragati';
@base-font: 15px;

// -------- COLORS --------

@fg-color:#FEFEFE;
@bg-color:#E5F0FC;
@prime-color:#71E7F5;
@second-color: #004564;
@third-color: #0A1C47;
@complement-color: #0E1C27;
@warning-color: #FFCF4B;
@inactive-color: #C2C2C2;

// -------- ASSETS --------
@src : "../assets/";
// -------- MIXIN --------
.init(){
    html, body {
        font-family: @font;
        font-size: 15px;
        min-width: 320px;
        background-color: @bg-color;

    }
    a {
        text-decoration: none;
    }
}
.box-shadow(){
    box-shadow: rgb(0, 0, 0,.5) 0px 0px 30px 1px;
}



