@import './layouts/body.less';
@import './layouts/public.less';
@import './layouts/header.less';
@import './layouts/main.less';
@import './layouts/footer.less';
@import './layouts/sidebar.less';

// @import './utilities/all.css';

// @import './utilities/animations.less';
@import './common/mixins.less';
@import './common/media-queries.less';
@import './common/variables.less';
// @import './common/generics.less';

@import './components/logotype.less';
@import './components/navigation.less';
@import './components/home.less';
@import './components/publication.less';
// @import './components/post.less';
// @import './components/portfolio.less';
// @import './components/rating.less';
// @import './components/about.less';
// @import './components/form.less';
// @import './components/notification.less';
// @import './components/admin.less';

.tag {
    display: inline-block;
    padding: 5px;
    margin: 0 5px;
    border-radius: 10px;
    font-size: 12px;
    text-decoration: none;
}
.rate-container {
    margin: 0;
}
.rate {
    color: #fd4;
}
