/* # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # #
============================== P U B L I C A T I O N ===========================
# # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # */
.publication-container{
    background: rgba(10, 28, 71, 0.1);
    padding: 20px;
    // margin: auto;
    // width: 90%;
    // max-width: 800px;
}
.publication-title {
    font-size: @title-font-size;
    font-weight: bold;
    color: @complement-color;
}
.publication-meta{
    margin: 0 0 10px 0 ;
}

.publication-author {
    font-size: @subtitle-font-size;
    color: @complement-color;
}

.publication-date {
    font-weight: normal;
    margin: 0;
    color: @complement-color;
}

.publication-rating {
    // margin: 10px 0;
}

.rate {
    color: #fd4;
}

.tag {
    display: inline-block;
    padding: 5px;
    margin: 0 5px;
    border-radius: 10px;
    font-size: 12px;
    text-decoration: none;
}
.publication-body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 10px 0;
}
.publication-img-container{
    overflow: hidden;
    margin:10px auto;
    img{
        .image-disposition(100%, 300px);
    }
}
.publication-paragraph{
    margin: 20px 0;
    font-size: @paragraph-font-size;
    color: @complement-color;
    letter-spacing: .2px;
    text-align: justify;
    font-stretch: wider;
}
/* # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # #
======================== M E D I A   Q U E R I E S ============================
# # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # */

@media screen and (min-width:700px) {
    .publication-meta {
        display: grid;
        grid-template: "author rating" "date tags";
    }

    .publication-author {
        grid-area: author;
    }

    .publication-date {
        grid-area: date;
    }

    .publication-rating {
        text-align: end;
        grid-area: rating;
    }

    .tags-container {
        text-align: end;
        grid-area: tags;
    }
    .publication-img-container > img{
        .image-disposition(600px, 400px);
    }
}
@media screen and (min-width:1500px) {
    .publication-img-container > img{
        .image-disposition(100%, 500px);
    }
}

