/* # # # # # # # # # # # # # */
/*          P O S T          */
/* v v v v v v v v v v v v v */
.post-container{
    background: @WEB_CARD_BG;
    padding: 20px;
}
.post-title {
    font-size: @title-font-size;
    font-weight: bold;
    color: @complement-color;
}
.post-meta{
    display: grid;
    grid-template: 'author a a a a rate'
                   'date   a a a a tags';
    margin: 10px 0;
}
.post-author {
    grid-area: author;
}
.post-date {
    grid-area:date;
}
.post-rate{
    grid-area: rate;
}
.post-tags-container{
    grid-area: tags;
}
// .post-body{
// }
.post-img-container{
    overflow: hidden;
    img{
        .image-disposition(100%, 500px);
        object-fit: fill !important;
        margin:10px auto;
    }
}
.post-paragraph{
    margin: 10px 0;
    text-align: justify;
}
/* # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # #
======================== M E D I A   Q U E R I E S ============================
# # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # */
