/* # # # # # # # # # # # # # */
/*        H E A D E R        */
/* v v v v v v v v v v v v v */
#header-section-container{
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    background-color: @WEB_NAV_BG_COLOR;
    display:grid;
    grid-template: minmax(auto,100px) auto / auto;
    grid-auto-rows: 50px;
    // box-shadow: 0px -10px 10px 0px;

    position: sticky;
    top: 0;
    left: 0;

    a {
        color: @WEB_NAV_FONT_COLOR;
        text-decoration: none;
        display: grid;
    }
}
#header-logotype-container {
    grid-row: 1 / 2;
    margin: 20px 0;
}
#logotype {
    grid-row: 1/2;
    height: 50px;
    margin:auto;
}
#title {
    grid-row: 2/3;
    margin: auto;
    color: @WEB_FG_COLOR;
    font-size: 25px !important;
    letter-spacing: 1px;
}
#mobile-nav-icon-container{
    display: none;
}
/* # # # # # # # # # # # # # */
/*    N A V I G A T I O N    */
/* v v v v v v v v v v v v v */
#header-navigation-container{
    grid-row: 2 / 7;
    margin: 20px 0;
    padding: 0 10px;
    font-family: @WEB_NAV_FONT;
    letter-spacing: 2px;
}
#header-navigation-list {
    list-style: none;
    display: grid;
    grid-template: auto / 1fr;
    grid-row-gap: 10px;
    margin: 20px 0;
}
.navigation-item:hover{
    border-bottom: 1px solid;
}
/* # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # #
======================== M E D I A   Q U E R I E S ============================
# # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # */
