/* # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # #
==================== M O S T   R E C E N T   S E C T I O N ====================
# # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # */
#latest-body {
    display: flex;
    flex-direction: column;
}

#latest-img-container {
    display: flex;
    justify-content: justify;
    text-align: center;
    overflow: hidden;
    margin: 10px 0;

    img {
       .image-disposition(100%, 100%);
    }
}

#latest-description-container {
    margin: 10px 0;
    .paragraph;
}

/* # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # #
======================== M E D I A   Q U E R I E S ============================
# # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # */

@media screen and (min-width:700px) {
    #latest-img-container>img {
        .image-disposition(100%, 400px);
    }
}

@media screen and (min-width: 1500px) {
    #latest-body {
        display: grid;
        grid-template: 1fr 1fr auto / auto 1fr;
        grid-column-gap: 20px;
    }

    #latest-img-container {
        grid-row: 1 / 4;
        grid-column: 1 / 2;
        text-align: center;

        img {
            .image-disposition(500px, 400px);
        }
    }

    #latest-description-container {
        grid-row: 1 / 3;
        grid-column: 2 / 3;
    }

    #latest-button-container {
        grid-row: 3 / 4;
        grid-column: 2/ 3;
        width:100%;
    }
}
