/* # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # #
================================= H E A D E R =================================
# # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # */

#header-container {
    position: sticky;
    top: 0;
    min-width: 320px;
    background: linear-gradient(0.2turn, @complement-color, @third-color);
    color: @fg-color;
    .box-shadow;
}

#header-mobile-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

#home-link {
    color: @fg-color;
}

#logotype-container {
    display: flex;
    align-items: center;
}

#type {
    display: inline;
    margin: 0 0 0 20px;
}

/* # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # #
======================== N A V I G A T I O N   M E N U =========================
# # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # */

#mobile-nav-icon {
    .icon-size;
}

#mobile-nav-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

#nav-menu {
    height: 90vh;
    background-image: url("@{images}bg-graphics.png");
    background-size: 80%;
}

.nav-components {
    padding: 0;
    text-align: center;
}

.nav-component {
    margin: 5px 0 5px 0;
}

.section {
    font-weight: bold;
    padding: 5px;
    width: 85%;
    background: linear-gradient(.2turn, @second-color, @prime-color);
    .rounded-corners;

    &:hover {
        cursor: pointer;
        transform: scaleX(1.1)
    }

    &:active {
        transform: scaleX(1.2);
    }
}

/* # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # #
======================== M E D I A   Q U E R I E S ============================
# # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # */

@media screen and (min-width:700px) {
    #nav-menu {
        height: 100vh;
    }

    .section {
        .web-font-size(5px);
    }
}

@media screen and (min-width: 1280px) {
    #type {
        .web-font-size(15px);
        letter-spacing: 2px;
        margin: 10px auto;
    }

    #mobile-nav-icon {
        display: none;
    }

    #header-container {
        grid-column: 1;
        position: sticky;
        left: 0;
        overflow: hidden;
    }

    #header-mobile-container {
        justify-content: center;
    }

    #logotype-container {
        align-items: center;
        flex-direction: column;
    }

    #nav-menu {
        height: 100%;
    }
}
