/* # # # # # # # # # # # # # */
/*          M A I N          */
/* v v v v v v v v v v v v v */
#main-section-container {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
    display:grid;
    grid-template: 50px auto / auto;
}
#breadcrumbs{
    grid-row: 1 / 2;
    background-color: #0E214D;
}
#main-content-container{
    overflow-y: scroll;
}
.section-title {
    background: @WEB_BUTTON_COLOR;
    padding: 10px 20px;
    margin: 0 0 10px 0;
    color: @WEB_NAV_FONT_COLOR;
    font-weight: lighter;
    /* box-shadow: 0px 1px 5px -1px #000a; */
}
/* # # # # # # # # # # # # # */
/*  B R E A D C R U M B S    */
/* v v v v v v v v v v v v v */
#breadcrumbs{
    height: 50px;
    background-color: @WEB_SECTION_COLOR;
    box-shadow: -5px 0px 10px 1px fade(@WEB_NAV_BG_COLOR, 95%);
}
#web-back-icon-container{
    display: flex;
    a{
        display: flex;
        padding: 10px 20px;
        text-decoration: none;
    }
    div{
        background-image: url('@{icons}web-back-icon.svg');
        background-size: 30px 30px;
        background-repeat: no-repeat;
        width:30px;
        height:30px;
    }
    h2{
        margin: 0 5px;
        color: @WEB_NAV_BG_COLOR;
        font-size: 15px;
    }
}
/* # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # #
======================== M E D I A   Q U E R I E S ============================
# # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # */
