/*<!-- =================== R E L A T E D   S E C T I O N =================== --> */
#related{
    overflow: hidden;
  }
.related-list{
  display:flex;
  list-style: none;
  padding: 0;
  overflow-x: auto;
  scroll-snap-type: x mandatory
}
.related-item{
    margin: 20px;
}
.related-item > img{
    width: 250px;
    height: 250px;
    object-fit: contain;
}
.related-title{
  text-align: center;
  margin: 0 0 10px 0;
}
@media screen and (min-width: 1280px)  {

  .related-list{
    overflow:initial;
    scroll-snap-type:none;
    flex-wrap: wrap;
    justify-content: center;
  }
}


