/* # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # #
================================ F O R M =======================================
# # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # */

.form-container {
    height: 100%;
}

.form {
    display: grid;
    grid-template: auto / 1fr;
    margin: auto;
}

.form-label {
    display: inline-block;
    .subtitle;
    margin: 10px 0 0 0;
    width: 90%;
}

.form-input {
    // display: inline-block;
    width: 95%;
    height: auto;
    margin: 5px 0;
    padding: 5px;
}

.comments {
    resize: none;
    height: 100px;
    width: 100%;
    margin: 10px 0;
}

.form-check {
    width: 15px;
    height: 15px;
    margin: 10px 0;
}
/* # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # #
=========================== R E G I S T R A T I O N ============================
# # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # */
.registration{
    display: grid;
    grid-template: auto / 450px 450px;
    grid-column-gap: 20px;
    width: 1000px;
    margin:0 !important;
}
.form-section{
    width:100%;
}
/* # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # #
======================== M E D I A   Q U E R I E S ============================
# # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # */

@media screen and (min-width:1024px) {
    .form {
        width: 60%;
        font-size: 1.3em;
    }
}

@media screen and (min-width: 1280px) {

    .button {
        font-size: 1.2em;
        grid-area: button;
        width: 60%;
    }
}

@media screen and (min-width:1300px) {
    .form {
        width: 50%;
    }
}

