.project-list{
    list-style: none;
    margin: 0px;
    li{
        margin: 0px;
        padding:0px;
    }
}
.project-img-container {
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.project-description-container {
    padding: 0 50px;
    text-align: center;
    justify-content: center;
}
