/* # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # #
============================ A B O U T   A U T H O R ===========================
# # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # */

.about-section {
    text-align: center;
}

.author-container {
    display: flex;
    justify-content: space-evenly;
    margin: 30px auto;
}

.author-img-container {
    overflow: hidden;
    border-radius: 50%;
    width: 150px;
    height: 150px;

    img {
        .image-disposition(150px, 150px, 'contain');
    }
}

.about-description {
    max-width: 500px;
    margin: 0 20px;
}
