/* # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # #
========================= M A I N   C O N T E N T =============================
# # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # */

#main-container {
    color: @complement-color;
    background-color: @fg-color;
    .section-shadow;
    padding: 10px;
}

#web-back-icon-container {
    display: none
}

.sections-container {
    width: 100%;
}

.section-container {
    margin: 25px 0;
}
.section-title {
    margin: 10px 0 0 0;
}

.section-separator {
    margin: 10px 0;
}

/* # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # #
======================== M E D I A   Q U E R I E S ============================
# # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # */

@media screen and (min-width:500px) {
    #main-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 50px;
    }

    .sections-container {
        width: 90%;
        height: 100%;
    }
}

@media screen and (min-width:700px) {
    .sections-container {
        width: 80%;
    }
}

@media screen and (min-width: 1280px) {
    body {
        display: grid;
        grid-template: 1fr / 350px repeat(5, 1fr);
        overflow-x: hidden;
    }

    .hidden {
        display: block;
    }

    #main-container {
        grid-column: 2 / 7;
        overflow-y: scroll;
        margin: 0 0 0 40px;
    }

    #web-back-icon-container {
        display: block;
        width: 100%;
        text-align: left;
        position: sticky;
        left: 0;
        top: 0;
    }

    .sections-container {
        width: 75%;
    }
}
