/* # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # #
========================= S I T E   H E A D E R ============================== */
#header-container{
    position: sticky;
    top:0;
    min-width: 320px;
    background: linear-gradient(0.2turn, @complement-color, @third-color);
    color: #E5F0FC;
    box-shadow: rgb(0, 0, 0, .5) 0px 1px 5px 2px;
}
#header-mobile-container{
  display:flex;
  justify-content: space-between;
  padding: 20px;
}
#home-link{
    color:inherit;
}
#logotype-container{
    display: flex;
    align-items: center;
}
#type{
    display: inline;
    margin: 0 0 0 20px;
}
/* ======================== N A V I G A T I O N   M E N U ========================= */
#nav-icon{
    width: 40px;
}
#nav-menu{
  height: 90vh;
  flex-direction: column;
  justify-content: space-between;
  background-image: url("@{src}bg-graphics.png");
  background-size: 80%;
}
#nav-menu-mobile{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 90%;
}
#nav-components > ul,
#nav-social > ul {
  padding: 0;
  text-align: center;
}
.nav-component-link {
    text-decoration: none;
    color: @fg-color;
}
.nav-component {
  padding: 5px;
  width: 85%;
  border-radius: 0 1em 1em 0;
  background: linear-gradient(.2turn,@second-color,@prime-color);
  margin-bottom: 10px;
}
.nav-component:hover{
  cursor: pointer;
  transform: scaleX(1.1)
}
.nav-component:active{
  transform:scaleX(1.2);
}
#nav-components > ul > a{
  position: static;
  font-weight: bold;
  text-decoration: none;
  color: @fg-color;
}
.nav-item{
  margin:5px;
}
.nav-item > a {
  text-decoration: none;
  color: inherit;
}
@media screen and (min-width:280px){
  #type{
    font-size: 20pt;
   }
}
@media screen and (min-width:700px){
  #nav-menu{
    height: 100vh;
  }
  .nav-component{
    font-size: 1.5em;
  }
  .nav-item{
    font-size: 1.1fem ;
  }
}
@media screen and (min-width: 1280px)  {
  #type{
    font-size: 2em;
    letter-spacing: 2px;
    margin: 10px
  }
  #nav-icon{
    display: none;
  }
  #header-container{
    grid-column: 1;
    position: sticky;
    left:0;
    overflow: hidden;
    font-size: 1.1em;
  }
  #header-mobile-container{
    justify-content: center;
  }
  #logotype-container{
    align-items: center;
    flex-direction: column;
  }
  #nav-menu{
    height: 90%;
  }
}
