.blog{
    display: grid;
    grid-template: auto / auto;
    grid-row-gap: 2em;
    align-items: center;
    margin: 2em 4em;
    
    &-category{
        margin: 0 auto;
        border-radius: 5px 5px;
        
        &_header{
        
            &-icon{
            }
            &-name{
            }
        }
        
        &_body{
            &-articles{
                display: flex;
                flex-flow: wrap;
                width: 100%;
                
                a{
                    margin: 1em;
                }
                &-article{
                    width: 200px;
                    height: 200px;
                    background-color: #fff;
                    
                    &_image{
                        width: 100%;
                        object-fit: cover;
                        aspect-ratio: 16 / 9;
                    }
                    &_title{
                        margin: 10px;
                        text-align: center;
                    }
                }
            }
        }
    }
}

.article{
    display:grid;
    grid-row-gap: 1em;
    margin: 2em;
    max-width: 50%;

    &_header{
        display:grid;
        grid-row-gap: 1em;
        
        &-thumbnail{
            width: 100%;
            aspect-ratio: 16 / 9;
            object-fit: cover;
        }
    }

    &_body{
        text-align: justify;

        p{

        }

        img{
            width: 100%;
            aspect-ratio: 16 / 9;
            object-fit: cover;
        }

        li{

        }
    }

    &_footer{

    }
}
