.blog{
    // display: grid;
    // grid-template: auto / 100vw;
    // grid-row-gap: 1em;
    align-items: center;
    margin: 2em;


    &-category{
        margin-bottom: 2em;

       &_body{
            &-articles{
                display: flex;
                justify-content: center;
                width: 100%;
                overflow-x: scroll;

                a{ margin: .5em;}

                &-article{
                    width: 9em;
                    // height: 9em;
                    background-color: #fff;

                    &_image{
                        width: 100%;
                        object-fit: cover;
                        aspect-ratio: 16 / 9;
                    }
                    &_title{
                        margin: .5em;
                        text-align: center;
                        word-wrap: break-word;
                        font-size: .9em;
                    }
                }
            }
       }
    }
}
@media @desktop{
    .blog{
        display: grid;
        grid-template: auto / auto;
        grid-row-gap: 2em;
        align-items: center;
        margin: 2em auto;
        width: 75%;

        &-category{
            border-radius: 5px 5px;
            margin-bottom: 0;
            &_header{

                &-icon{
                }
                &-name{
                }
            }

            &_body{
                &-articles{
                    flex-flow: wrap;
                    width: 100%;

                    a{ margin: 1em; }

                    &-article{
                        width: 200px;
                        height: 200px;

                        &_image{
                            width: 100%;
                            object-fit: cover;
                            aspect-ratio: 16 / 9;
                        }
                        &_title{
                            font-size: 1em;
                            margin: 10px;
                            text-align: center;
                        }
                    }
                }
            }
        }
    }
}


@import './article.less';
@import './category.less';
