.blog{
    // display: grid;
    // grid-template: auto / auto;
    // grid-row-gap: 2em;
    align-items: center;
    // margin: 2em 4em;

    &-category{
        margin-bottom: 2em;

       &_body{
            &-articles{
                display: flex;
                overflow-x: scroll;
                width: 100%;

                &-article{
                    margin: 1em;
                    width: 150px;
                    height: 150px;
                    background-color: #fff;
                    
                    &_image{
                        width: 100%;
                        object-fit: cover;
                        aspect-ratio: 16 / 9;
                    }
                    &_title{
                        margin: 10px;
                        text-align: center;
                    }
                }
            }   
       } 
    }
}
@media @desktop{
    .blog{
        display: grid;
        grid-template: auto / auto;
        grid-row-gap: 2em;
        align-items: center;
        margin: 2em 4em;
        
        &-category{
            border-radius: 5px 5px;
            
            &_header{
            
                &-icon{
                }
                &-name{
                }
            }
            
            &_body{
                &-articles{
                    // display: flex;
                    flex-flow: wrap;
                    width: 100%;
                    
                    a{ margin: 1em; }
    
                    &-article{
                        // width: 200px;
                        // height: 200px;
                        
                        &_image{
                            width: 100%;
                            object-fit: cover;
                            aspect-ratio: 16 / 9;
                        }
                        &_title{
                            margin: 10px;
                            text-align: center;
                        }
                    }
                }
            }
        }
    }
}


@import './article.less';
@import './category.less';