.ads{
    &-section-title{
        padding-top: 10px;
    }
    &-img-container{
        display: flex;
        padding: 10px 0;
        justify-content: center;
        div{
            margin: 0 10px;
        }
    }
}
@media @desktop{
    .ads-img-container{
        flex-direction: column !important;
        margin: 0;
        padding-bottom:20px;
    }
}
