.post-list-container{
    border: 5px solid rgba(194, 194, 194, 0.2) !important;
    background: radial-gradient(ellipse at center, rgba(50, 130, 183, 0.45) 50%, #00000029 100%) !important;
    padding: 0 !important;
}
