/* ===== B R E A D C R U M B S ===== */
.breadcrumbs-container{
    width: 100%;
    position: sticky;
    top: 75px;
    .panel-secondary;
    align-items: center;
    font-weight: bold;
    div{
        .flex-center-content;
        justify-content: initial;
        .breadcrumbs-arrow {
            .fixed-widh-height(25px,25px);
            .flex-center-content;
            .circle-border(2px, solid);
            font-size: 20px;
            margin: 10px;
        }
    }
}
