/* ===== B R E A D C R U M B S ===== */
.breadcrumbs-container{

    .panel-secondary;
    width: 100%;
    position: sticky;
    z-index: 2;
    top: 75px;
    align-items: center;
    font-weight: bold;

    div{
        .flex-center-content;
        justify-content: initial;

        .breadcrumbs-arrow {
            .fixed-widh-height(25px,25px);
            .flex-center-content;
            .round-border(2px, solid, 10px);
            .box-container-mixin(10%, 0px, @complementary_two);
            padding: 0 5px;
            font-size: 20px;
            margin: 10px;

            &:hover{
                background-color: fade(@fourth, 20%);
            }
            &:active{
                background-color: fade(@fourth, 40%);
            }
        }
    }
}
