/* ===== M A I N ===== */
.main-container {
    // background: radial-gradient(circle at center, @fourth 50%, @complementary_one 100%);
    background: linear-gradient(@fourth 20%, @secondary);
    padding:20px;
    // grid-column: 2 / 3;
    // grid-row: 1 / 3;
    // display:grid;
    // grid-template: 50px auto / repeat(8, 1fr);
    // overflow-y: hidden;

}
.main-box-container{
}
#main-content-container {
    padding: 40px;
    // margin: auto;
    // max-width: 750px;
    display: grid;
    grid-template: auto auto / auto;
    grid-row-gap: 25px;
    grid-column: 1 / 6;
    overflow-y: scroll;
    scrollbar-track-color: khaki;

}
.section-title {
    // background:
    padding: 10px 20px;
    // color: @WEB_NAV_FONT_COLOR;
    font-weight: lighter;
    /* box-shadow: 0px 1px 5px -1px #000a; */
}
