
/* ===== N A V I G A T I O N ===== */
#header-navigation-container{
    grid-row: 2 / 7;
    padding: 20px 10px;
    letter-spacing: 2px;
}
#header-navigation-list {
    list-style: none;
    display: grid;
    grid-template: auto / 1fr;
    grid-row-gap: 10px;
    margin: 20px 0;
}
.navigation-item {
    text-decoration: none;
    display: grid;
    color: @fourth !important;

}
.navigation-item:hover{
    border-bottom: 1px solid;
}
