.author{
    display: grid;
    grid-template: auto / 1fr;
    place-items: center;
    grid-column-gap: 1em;

    &_thumbnail{
        border-radius: 50%;
        border: solid .5em #fff;
        height: 8em;
        width: 8em;
        display: flex;
        place-content: center;
        overflow: hidden;
        place-items: center;
    }

    &_description{
        display: flex;
        place-items: center;
        padding: 1em;
        margin: 0 1em;
        background-color: fade(#000, 40%);
        border-radius: .5em;
    }
}

@media @desktop{
    .author{
        display: grid;
        grid-template: auto / auto 1fr;
        grid-auto-flow: column;
        grid-column-gap: 1em;

        &_thumbnail{
            border-radius: 50%;
            height: 8em;
            width: 8em;
            display: flex;
            place-content: center;
            overflow: hidden;
            place-items: center;
        }

        &_description{
            display: flex;
            place-items: center;
        }
    }
}
