/* ===== B R E A D C R U M B S ===== */
.breadcrumbs{
    padding: 1em 0;
    box-shadow: 0.1em 0.2em 0.2em 0em #00000033;
    background-color: #fff;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 8;

    &-paths{
        display: flex;
        flex-wrap: wrap;
        grid-auto-flow: column;
        grid-column-gap: .5em;
        margin: 0 1em;
        font-size: .9em;

        &-path{
        }
    }
}
@media @desktop{
    .breadcrumbs{
        padding: .9em;
        
        &-paths{
            display: flex;
            grid-auto-flow: column;
            grid-column-gap: .5em;
            margin: 0 1em;
            font-size: 1em;
            
            &-path{
                padding: 0;
            }
        }
    }
}
