.user-layout {
    height: inherit;
    overflow: scroll;
}
.website-title{
    color: @website_title_color;
}
/* ===== H E A D E R ===== */
.header-container{
    position: sticky;
    top: 0;
    z-index: @header_index;
    width: 100%;
    max-height: 75px;
    overflow: hidden;
    background: @header_bg;
    // background-color: @header_bg;
    .transition(max-height, 1s, ease-in-out);
}
.transparent-header-container{
    display:grid;
    grid-template: auto / 1fr auto;
    padding: 10px;
    overflow: hidden;
}
/* ===== D E S K T O P ===== */
.desktop-container{
 /* Wraps the section between the header & aside */
    z-index: @desktop_index;
    background-color: @desktop_bg_color;
}
/* ===== A S I D E ===== */
.aside-container{
    z-index: @aside_index;
    text-align: center;
    background-color: @aside_bg_color;

}
/* ===== F O O T E R ===== */
.footer-container {
    z-index: @footer_index;
    box-shadow: 0px 0px 10px 1px #0000004a;
    background-color: @footer_bg_color;
}
@media @desktop{
    .user-layout {
        overflow: hidden;
        display:grid;
        grid-template: repeat(5, 1fr) auto / minmax(auto, 240px) repeat(5, 1fr);
    }
    .header-container{
        grid-row: 1/ 5;
        grid-column: 1/ 2;
        max-height: initial;
        max-width: 250px;
        display: grid;
        grid-template: auto 1fr / 1fr;
        grid-row-gap: 20px;
    }
    .transparent-header-container{
        display: block;
    }
    .desktop-container{
        grid-row: 1 / 6;
        grid-column: 2 / 7;
        display: grid;
        grid-auto-flow: column;
        grid-template: auto repeat(5, 1fr) / 1fr;
        overflow: hidden;

        main{
            grid-row: 2 / 7;
            overflow-y: scroll;
        }
    }

    .module{
       margin: 1em;
    }
    .aside-container{
        display: grid;
        place-items: end;
        grid-row: 4 / 7;
        grid-column: 1 / 2;
        max-width: 250px;
    }
    .footer-container{
        grid-row: 5 / 7;
        grid-column: 1 / 2;
        min-height: initial;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.2);
    }
}
