/* ===== N A V I G A T I O N ===== */
// .mobile-nav-button{
//     .fixed-widh-height(40px,40px);
//     .no-margin-padding;
//     .flex-center-content;
//     .round-border(2px, solid, 10px);
//     .box-container-mixin(10%, 0px, @primary);
//     transform: rotateZ(90deg);
//     font-weight: bold;
//     position: sticky;
//     z-index: @header_nav_index;

//     .transition(all, .5s, ease-out);


//     &:hover{
//         background-color: fade(@shade_two, 1%);
//     }
//     &:active{
//         .fixed-widh-height(45px,45px);
//         background-color: fade(@shade_two, 2%);
//     }
// }

.navigation{
 
    &-modules{
        // list-style: none;
        // display: grid;
        // grid-template: auto / 1fr;
        // justify-content: center;

        &-module{
            display: grid;
            grid-template: auto / auto 1fr;
            place-items: center;
            padding: 0.5em 2em;
            
            &:hover{
                background-color: fade(#000, 10%);
            }

            &:active{
                background-color: fade(#000, 20%);
            }
            
            &_icon{
                margin: 0 0 0 .5em
    
            }
            &_name{
    
            }
        }
    }
}
@media screen and (min-width: 860px){
    .mobile-nav-button{
        display: none;
    }
}
