/* ===== N A V I G A T I O N ===== */
.mobile-nav-button{
    .fixed-widh-height(40px,40px);
    .no-margin-padding;
    .flex-center-content;
    .round-border(2px, solid, 10px);
    .box-container-mixin(10%, 0px, @primary);
    transform: rotateZ(90deg);
    font-weight: bold;
    position: sticky;
    z-index: @header_nav_index;

    .transition(all, .5s, ease-out);


    &:hover{
        background-color: fade(@shade_two, 1%);
    }
    &:active{
        .fixed-widh-height(45px,45px);
        background-color: fade(@shade_two, 2%);
    }
}

.header-navigation-container{
    // padding: 20px;


    & > ul{
        list-style: none;
        text-align: center;
        display: grid;
        grid-template: auto / 1fr;
        // grid-row-gap: 5px;

        > a {
            box-shadow: 0px 0px 1px 1px #00000021;
            background: linear-gradient(transparent, #00000030);

            padding:10px;
            color: @header_text_color;

            &:hover{
                background-color: @link_bg_color_hover;
                border-radius: 2px;
            }
            &:active{
                background-color: @link_bg_color_active;
            }
        }
    }
}
@media screen and (min-width: 860px){
    .mobile-nav-button{
        display: none;
    }
}
