.project-list-container{
    // max-height: 70vh;

    ul{
        // max-height: inherit;
        flex-direction: column !important;

        li{
            background-repeat: no-repeat !important;
            background-size: cover;
            background-position: center;
            min-height: 30vh;

            a{
                position: absolute;
                top:0;
                left: 0;
                bottom: 0;
                right:0;
                // background: linear-gradient(fade(@complementary_two ,80%), fade(@complementary_three, 80%));
                min-height: inherit;
                display: flex;
                justify-content: center;
                align-items: center;
                text-decoration: none;
                text-align: center;
                font-family: 'Zilla Slab Highlight', sans-serif;
                // color: @light_neutral;
            }
        }
    }
}
@media @desktop{
    .portfolio{
        &-projects{
            display: flex;
            flex-flow: wrap;
            justify-content: center;

            a{
                margin: 1em;
            }
            &-project{
                width: 200px;
                height: 200px;
                
                display: flex;
                place-items: center;
                text-align: center;


                background-position: center;
                background-size: contain;

                &_title{
                }
            }
        }
    }
}