.socialmedia{
    // color: @footer_text_color;
    padding: .5em;
    text-align: center;
    
    &_links{
        padding: 1em;
        display: grid;
        grid-row-gap: .5em;
        grid-column-gap: 1em;
        grid-auto-flow: column;

        &-icon{
           font-weight: 450;

            &:hover {
            }
            &:active{
            }
        }
    }
}
.fa-youtube{
    color: #FF0000
    // #212121; black
}
.fa-linkedin{
    color: #0a66c2;
}
.fa-instagram{
    color: #bc2a8d
    // #8a3ab9;
    
}
.fa-behance{
    color:  #053eff;
}
.fa-github{
    color: #24292e;
}
.fa-twitter{
    color: #1da1f2;
}
.fa-facebook{
    color:#4267B2;
}
@media @desktop{
    .socialmedia{
        padding: 0;
        display: flex;
        flex-direction: column;
        margin: auto;

        &_title{

        }
        &_links{
            grid-template: auto auto /auto auto;
            align-items: center;

            &-icon{
                font-size: 1.5em;
            }
        }
    }
}
