.socialmedia{
    color: @footer_text_color;
    padding: 20px;
    text-align: center;
    
    &_links{
        padding: 10px;
        display: grid;
        grid-template: repeat(2, 1fr) / repeat(4, 1fr);

        & > a{
            color: @footer_text_color;
            margin: 0 10px;

            &:hover {
                background-color: @link_bg_color_hover;
            }
            &:active{
                background-color: @link_bg_color_active;
            }
        }
    }
}
@media @desktop{
    .socialmedia{
        padding: 0;
        display: flex;
        flex-direction: column;
        margin: auto;

        &_title{

        }
        &_links{
            
            align-items: center;

            &-link{
                font-size: 1.5em;
            }
        }
    }
}
